.modal {
    display: none;
    flex-direction: column;
    max-width:500px;
    border: 1px solid;
    padding:20px;
    margin-left:auto;
    margin-right: auto;
    min-width: 300px;
    position: absolute;
    left: 300px;
    top:200px;
    background-color: white;
}

.modal-remove {
    display: none;
    flex-direction: column;
    max-width:200px;
    border: 1px solid;
    padding:20px;
    margin-left:auto;
    margin-right: auto;
    position: absolute;
    left: 300px;
    top:200px;
    background-color: white;
}

.content-container {
    width: 70%;
    text-align: center;
}

.description-ticket {
    display: none;
}

label {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.okButton {
    margin-right: 20px;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
}

.okBtn {
    margin-right: 20px;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
}

.cancelButton {
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
}

.cancelBtn {
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
}

.header-modal {
    text-align: center;
}

.field {
    margin-top: 10px;
}

.field-container {
    width: 60%;
}

.ticket-container {
    min-height: 30px;
    display:flex;
    align-items: center;
    border: 1px solid;
    border-radius: 3px;
    margin-top: 2px;
}

.edit {
    width:20px;
    height: 20px;
    margin-right: 3px;
    background-image: url(images/4213598-doodle-education-line-pen-pencil-school-science_115491.png);
    background-size: cover;
    cursor: pointer;
}

.remove {
    width:20px;
    height: 20px;
    cursor: pointer;
    background-image: url(images/dustbin_120823.png);
    background-size: cover;
    margin-right: 5px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.date {
    font-size: 12px;
    margin-right: 5px;
}

.content {
    cursor: pointer;
}
